<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897663417109-7pacc9nvg1s1if51oak2rfg7lu33o4lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897663417109-7pacc9nvg1s1if51oak2rfg7lu33o4lf</string>
	<key>API_KEY</key>
	<string>AIzaSyBxdjRqxIU4CuNDn6cQ9w7sGCkkL1EHlcY</string>
	<key>GCM_SENDER_ID</key>
	<string>897663417109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindbloom</string>
	<key>PROJECT_ID</key>
	<string>mindbloom-e29e2</string>
	<key>STORAGE_BUCKET</key>
	<string>mindbloom-e29e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897663417109:ios:6aa0143db49161f345c71c</string>
</dict>
</plist>